<template>
<div>
    <button type="button" class="btn btn-block btn-primary mt-4 mx-auto d-block" @click="$bvModal.show('create-speciality')">
        Nueva especialidad
        <font-awesome-icon icon="plus" />
    </button>

    <speciality-form id="create-speciality" title="Nueva especialidad" :form="speciality" @submit="save" @reset="resetModal" />
</div>
</template>

<script>
import Speciality from '../../../models/Speciality'
import SpecialityForm from './SpecialityForm'
import { mapState, mapActions, mapMutations } from 'vuex'

export default {
    components:{
        SpecialityForm,
    },
    computed: mapState([
        'isShowingAlert'
    ]),
    data() {
        return {
            speciality: {
                name: ''
            }
        }
    },
    methods: {
        resetModal(event) {
            this.speciality = event
        },
        save(event) {
            Speciality.make( event ).save()
            .then(() => this.$nextTick(() => {
                this.showDownAlert('Se ha guardado la especialidad')
            }))
            .catch( errors => {
                console.error(errors.data);
                switch (errors.status) {
                    case 403:
                        this.showDownAlert('No tienes permitido realizar esta acción', 'danger')
                        break;
                    default:
                        this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
                }
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
            this.$bvModal.hide('create-speciality')
            this.$root.$emit('fetch-specialities')
        },
        ...mapActions([
            'showSuccesAlert',
            'showDangerAlert',
        ]),
        ...mapMutations([
            'setAlertMessage'
        ])
    }
}
</script>

<style lang="css" scoped>
</style>
