<template>
    <div class="d-flex">
        <div class="description">
            <h4 class="font-weight-normal m-0">{{ name }}</h4>
        </div>
        <div class="btn-group ml-auto">
            <button type="button" class="btn btn-link" @click="$emit('edit', { id, name })">
                Editar
                <font-awesome-icon icon="edit" />
            </button>
            <button type="button" class="btn btn-link text-danger" @click="$emit('destroy', { id, name })">
                Eliminar
                <font-awesome-icon icon="trash" />
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'id',
        'name',
    ]
}
</script>

<style lang="css" scoped>
</style>
