<template>
<div>
    <b-modal
        :id="id"
        :title="title"
        cancel-title="Cancelar"
        ok-title="Guardar"
        @hidden="resetModal"
        @ok="submit"
    >
        <form @submit.stop.prevent="submit" ref="form">
            <b-form-group
                :state="nameState"
                label="Nombre"
                label-for="name-input"
                invalid-feedback="El campo nombre es requerido"
            >
                <b-form-input
                    id="name-input"
                    v-model="name"
                    :state="nameState"
                    required
                ></b-form-input>
            </b-form-group>
        </form>
    </b-modal>
</div>
</template>

<script>
export default {
    props: [
        'id', 'title', 'form'
    ],
    data() {
        return {
            name: '',
            nameState: null,
        }
    },
    methods: {
        resetModal() {
            this.$emit('reset', { name: '' })
            this.nameState = null
        },
        submit(event) {
            event.preventDefault()
            const valid = this.$refs.form.checkValidity()
            if(valid) {
                this.$emit('submit', { name: this.name })
            }
        }
    },
    watch: {
        form(form) {
            this.name = form.name
        }
    }
}
</script>

<style lang="css" scoped>
</style>
