<template>
<div>
    <ul v-if="specialities.length" class="tile-list p-0 pr-sm-5">
        <li class="tile-list-item tile-list-item-outline-dark my-3" v-for="speciality in specialities" :key="speciality.id">
            <speciality-list-item :id="speciality.id" :name="speciality.name" @edit="edit" @destroy="confirmDestroy"/>
        </li>
    </ul>
    <div v-else class="text-center my-3">
        <p>Todavía no existen especialidades</p>
    </div>

    <b-modal id="confirm-delete" title="Confirmar eliminación" @ok="destroy" cancel-title="Cancelar" ok-title="Aceptar">
        <p>¿Esta seguro que desea eliminar esta especialidad?</p>
    </b-modal>
    <speciality-form id="edit-speciality" title="Editar especialidad" @submit="update" @reset="resetModal" :form="speciality"/>
</div>
</template>

<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import SpecialityListItem from './SpecialityListItem'
import SpecialityForm from './SpecialityForm'
import Speciality from '../../../models/Speciality'

export default {
    components: {
        SpecialityListItem, SpecialityForm
    },
    computed: {
        searchBy() {
            return this.$route.query.searchBy !== ''
                ? this.$route.query.searchBy
                : undefined
        }
    },
    data() {
        return {
            speciality: {
                id:     0,
                name:   ''
            },
            nameState: '',
            specialities: [],
        }
    },
    methods: {
        getSpecialities() {
            Speciality.all({ filterBy: this.searchBy })
            .then( response => {
                this.specialities = response.data.data
            })
            .catch( errors => {
                console.errors(errors)
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        resetModal(speciality) {
            this.speciality = speciality
        },
        edit(speciality) {
            this.speciality = speciality
            this.$bvModal.show('edit-speciality')
        },
        update(speciality) {
            Speciality.make({ id: this.speciality.id, ...speciality }).update()
            .then(() => this.$nextTick(() => {
                this.getSpecialities()
                this.showDownAlert('Se ha actualizado la especialidad')
            }))
            .catch(errors => {
                console.error(errors.data);
                this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
            })
        },
        confirmDestroy(speciality) {
            this.speciality = speciality
            this.$bvModal.show('confirm-delete')
        },
        destroy() {
            Speciality.make(this.speciality).destroy()
            .then(() => {
                this.getSpecialities()
                this.showDownAlert('Se ha eliminado la especialidad')
            })
            .catch(errors => {
                switch (errors.status) {
                    case 422:
                        this.showDownAlert('No se puede eliminar esta especialidad por que tiene usuarios atados a ella', 'danger')
                        break;
                    default:
                        this.showDownAlert('Ha ocurrido un error, intentalo mas tarde', 'danger')
                }
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
            this.$bvModal.hide('edit-speciality')
        },
        ...mapActions([
            'showSearchBar',
            'showSuccesAlert',
            'showDangerAlert',
        ]),
        ...mapMutations([
            'setTitle',
            'setSearchPlaceholder',
            'setAlertMessage'
        ])
    },
    created() {
        this.setTitle('Especialidades')
        this.setSearchPlaceholder('Buscar especialidad')
        this.showSearchBar()
        this.getSpecialities()

        this.$root.$on('fetch-specialities', () => this.getSpecialities())
    },
    watch: {
        searchBy() {
            this.getSpecialities()
        }
    }
}
</script>

<style lang="css" scoped>
</style>
