<template>
    <ul class="tile-list p-0">
        <li v-for="prescription of prescriptions" :key="prescription.id" class="tile-list-item tile-list-item-outline-dark my-3">
            <prescription-list-item :prescription="prescription" @update="$emit('update', $event)" @delete="$emit('delete', $event)" :readonly="readonly" />
        </li>
    </ul>
</template>

<script>
import PrescriptionListItem from './PrescriptionListItem.vue'
export default {
  components: { PrescriptionListItem },
    props: { 
        prescriptions: Array,
        readonly: {
            type: Boolean,
            default: false
        }
    } 
}
</script>

<style>

</style>
