<template>
<div>
    <div class="d-block d-sm-flex">
        <h3 class="m-0">{{ prescription.drug }}</h3>
        <button v-if="user.hasRole('doctor') && !readonly" class="btn btn-link px-0 px-sm-2 ml-auto text-dark" @click="$emit('update', prescription)">Editar</button>
        <button v-if="user.hasRole('doctor') && !readonly" class="btn btn-link text-danger" @click="$emit('delete', prescription)">Eliminar</button>
    </div>
    <p>{{ prescription.medication }}</p>
</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    props: {
        prescription: Object,
        readonly: {
            type: Boolean,
            default: false
        }
    },
    computed: mapState([
        'user'
    ])
}
</script>

<style>

</style>
