<template>
<header class="shadow">
    <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <nav-component />
        <button class="navbar-toggler px-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon d-flex justify-content-center align-items-center">
                <font-awesome-icon icon="bars" />
            </span>
        </button>

        <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
            <search v-if="showSearch" />
            <session />
        </div>
    </nav>
</header>
</template>

<script>
import Session from './Session'
import Nav from './Nav'
import Search from './Search'
import { mapState } from 'vuex'

export default {
    components: {
        Session,
        'nav-component': Nav,
        Search
    },
    computed: mapState([
        'showSearch'
    ])
}
</script>

<style lang="css" scoped>
#navbarSupportedContent {
    z-index: 2;
}
</style>
