<template>
<div class="navbar-brand">
    <div class="text-primary nav-buttons">
        <button v-if="!isInHome" type="button" class="btn btn-link p-0 px-1" @click="navigation">
            <font-awesome-icon icon="arrow-circle-left" />
        </button>
        <button v-if="!isInHome" type="button" class="btn btn-link p-0" @click="home">
            <font-awesome-icon icon="house-user" />
        </button>
        <h3 class="d-inline my-0 ml-2 align-middle font-weight-light">{{ title }}</h3>
    </div>
</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed: {
        isInHome() {
            return this.$route.name === 'home'
        },
        isInIndex() {
            return this.$route.name.includes('.index')
        },
        ...mapState([
            'title'
        ])
    },
    methods: {
        navigation() {
            if (this.isInIndex) this.$router.push({ name: 'home' })
            else this.$router.back()
        },
        home() {
            if (!this.isInHome) this.$router.push({ name: 'home' })
        }
    }
}
</script>

<style lang="css" scoped>
</style>
