<template>
<ul class="nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{ userFullName }}
            <font-awesome-icon icon="user-circle" />
        </a>
        <div class="dropdown-menu">
            <button class="dropdown-item" @click="logout">Cerrar sesión</button>
        </div>
    </li>
</ul>
</template>

<script>
import {
    mapState
} from 'vuex'

export default {
    computed: {
        userFullName() {
            switch (true) {
                case !this.user:
                    return null
                    break;
                case !this.user.name:
                    return 'Sin autenticar'
                    break;
                default:
                    return this.user.fullName
            }
        },
        ...mapState([
            'user'
        ])
    },
    methods: {
        logout() {
            axios.post('/logout')
                .then(() => {
                    this.$router.push({
                        name: 'login'
                    })
                })
                .catch(() => console.error('No se pudo cerrar la sesión'))
        }
    }
}
</script>

<style lang="css" scoped>
</style>
