<template>
<div class="container mt-2 mt-sm-5 pb-5">
    <form @submit.prevent="update" method="post">
        <div class="row">
            <div class="col-12">
                <patient-form v-model="form" />
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <input type="submit" class="btn btn-primary ml-auto" value="Actualizar paciente">
        </div>
    </form>
</div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'
import PatientForm from '../partials/PatientForm'
import Patient from '../../../models/Patient'

export default {
    components: {
        PatientForm
    },
    computed: {
        fields: {
            get() {
                return {
                    ...this.form.fields,
                    address: {
                        mainStreet: this.form.fields.mainStreet,
                        secondaryStreet: this.form.fields.secondaryStreet,
                        province: this.form.fields.province,
                        city: this.form.fields.city
                    }
                }
            },
            set(patient) {
                this.mapFields(patient)
            }
        },
        ...mapState([
            'user'
        ])
    },
    data() {
        return {
            form: {
                fields: {},
                errors: {}
            }
        }
    },
    methods: {
        update(){
            if(this.user.hasRole('client') && this.fields.relationship === 'HEADLINE') this.fields.relationship = null
            Patient.make({ id: this.$route.params.patient, ...this.fields })
            .update()
            .then( response => {
                this.showDownAlert('Se ha actualizado el paciente')
                this.$router.go(-1)
            })
            .catch( errors => {
                console.error(errors)
                switch (errors.status) {
                    case 422:
                        this.form.errors = errors.data.errors
                        this.showDownAlert('Algún dato se encuentra erroneo', 'danger')
                        break;
                    default:
                        this.showDownAlert('No se pudo crear el usuario', 'danger')
                }
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        getPatient() {
            Patient.findById(this.$route.params.patient)
            .then( response => {
                this.fields = response.data.data
            })
            .catch( errors => {
                switch (errors.status) {
                    case 403:
                        this.$router.push({ name: '403' })
                        break;
                    default:
                        this.showDownAlert('No se pudo cargar el paciente', 'danger')
                }
            })
        },
        mapFields(patient) {
            this.form = { fields: { ...patient.address.params, ...patient.params  }, errors: {}}
        },
        ...mapActions([
            'hideSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setAlertMessage'
        ])
    },
    created() {
        this.setTitle('Editar paciente')
        this.hideSearchBar()
        this.getPatient()
    }
}
</script>

<style lang="css" scoped>
</style>
