<template>
<div>
    <div class="d-block d-sm-flex">
        <h3 class="m-0">{{ exam.name }}</h3>
        <div v-if="exam.status !== 'READY' && user.hasRole('doctor') && !readonly" class="ml-auto">
            <button class="btn btn-link text-dark px-0 px-sm-2" @click="$emit('update', exam)">Editar</button>
            <button class="btn btn-link text-danger" @click="$emit('delete', exam)">Eliminar</button>
        </div>
        <div v-if="exam.status === 'READY'" class="ml-auto">
            <button class="btn btn-link text-success px-0 px-sm-2" @click="$emit('files', exam.files)">Ver Archivos</button>
        </div>
    </div>
</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    props: {
        exam: Object,
        readonly: {
            type: Boolean,
            default: false
        }
    },
    computed: mapState([
        'user'
    ])
}
</script>

<style>

</style>
