<template>
    <div>
        <div class="d-flex">
            <h3>Exámenes</h3>
            <b-button v-if="user.hasRole('doctor') && !readonly" variant="primary" v-b-modal.exams-create class="ml-auto">Solicitar examen</b-button>
        </div>  
        <exam-list :exams="exams" @update="showEditModal" @delete="showConfirmDelete" :readonly="readonly"/>
        
        <exam-form id="exams-create" title="Nuevo examen" @submit="saveExam" />        
        
        <exam-form id="exams-edit" title="Editar examen" :value="form" @hidden="resetForm" @submit="updateExam" />        
        
        <b-modal id="confirm-exam-delete" title="Confirmar eliminación" @ok="destroyExam" @hidden="resetForm" cancel-title="Cancelar" ok-title="Aceptar">
            <p>¿Estas seguro de cancelar este exámen?</p>
        </b-modal>
    </div>
</template>

<script>
import Exam from '../../../../models/Exam'
import ExamList from './ExamList'
import { mapActions, mapMutations, mapState } from 'vuex'
import ExamForm from './partials/ExamForm.vue'

export default {
    components: {
        ExamList,
        ExamForm
    },
    props: { 
        exams: Array,
        readonly: {
            type: Boolean,
            default: false
        }
    },
    computed: mapState([
        'user'
    ]),
    data() {
        return {
            form: {
                id: 0,
                name: '',
                description: ''
            }
        }
    },
    methods: {
        saveExam(data) {
            Exam.make(data)
            .save({ appointment: this.$route.params.appointment })
            .then( response => {
                this.showDownAlert('Se ha solicitado el examen correctamente')
                this.$emit('updated')
            })
            .catch( errors => {
                this.showDownAlert('No se pudo solicitar la receta', 'danger')
            })
        },
        updateExam(data) {
            Exam.make({ id: this.form.id, ...data })
            .update()
            .then( response => {
                this.showDownAlert('Se ha actualizado la solicitud correctamente')
                this.$emit('updated')
            })
            .catch( errors => {
                this.showDownAlert('No se pudo editar la solicitud del examen', 'danger')
            })
        },
        destroyExam() {
            Exam.make({ id: this.form.id })
            .destroy()
            .then( response => {
                this.showDownAlert('Solicitud cancelada correctamente')
                this.$emit('updated')
            })
            .catch( errors  => {
                this.showDownAlert('No se pudo cancelar el examen', 'danger')
            })
        },
        showEditModal(data) {
            this.fillExam(data)
            this.$bvModal.show('exams-edit')
        },
        showConfirmDelete(data) {
            this.fillExam(data)
            this.$bvModal.show('confirm-exam-delete')
        },
        fillExam(exam) {
            this.form.id = exam.id
            this.form.name = exam.name
            this.form.description = exam.description
        },
        resetForm() {
            this.form.id = 0
            this.form.name = ''
            this.form.description = ''
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapMutations([
            'setAlertMessage'
        ]),
        ...mapActions([
            'showDangerAlert',
            'showSuccesAlert'
        ])
    }
}
</script>

<style>

</style>
