<template>
    <div class="week-selector">
        <div class="header">
            <p class="leyend">{{ scheduleLabel }}</p>
            <span class="selected-schedule">{{ selectedSchedule }}</span>
        </div>
        <div class="schedule" @scroll="scrolled">
            <table>
                <tbody v-for="(week, i) of weeks" :key="i">
                    <tr>
                        <th class="header-label week-time">Hora/Día</th>
                        <th class="header-label week-day">Domingo {{ week.days[0] }}</th>
                        <th class="header-label week-day">Lunes {{ week.days[1] }}</th>
                        <th class="header-label week-day">Martes {{ week.days[2] }}</th>
                        <th class="header-label week-day">Miércoles {{ week.days[3] }}</th>
                        <th class="header-label week-day">Jueves {{ week.days[4] }}</th>
                        <th class="header-label week-day">Viernes {{ week.days[5] }}</th>
                        <th class="header-label week-day">Sábado {{ week.days[6] }}</th>
                    </tr>
                    <tr v-for="(week, j) of week.week" :key="j">
                        <td class="cell cell-time">{{ week.label }}</td>
                        <td class="cell" v-for="(schedule, k) of week.schedule" :key="k">
                            <button type="button" :class="[{ 'cell-selected': isSelected(schedule) }, isDisabled(schedule) ? 'cell-disabled' : 'cell-available' ]" :disabled="isDisabled(schedule)" @click="setMeeting(schedule)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</template>

<script>
import * as dayjs from 'dayjs'

export default {
    props: {
        appointments: Array,
        value: Object,
        intervals: Array,
        scheduleLabel: {
            type: String,
            default: 'Seleccione uno de los recuadros en blanco para agendar su cita, los recuadros en gris no están disponibles'
        },
        nonWorkingDays: {
            type: Array,
            default: () => [ 0, 6 ]
        }, 
        appointmentTime: {
            type: Number,
            default: 30
        }
    },
    computed:
    {
        selectedSchedule()
        {
            if(!this.selected.start || !this.selected.end) return 'No se ha seleccionado ningún horario'

            let start = dayjs(this.selected.start)
            let end = dayjs(this.selected.end)
            
            return `${start.format('ddd DD, MMMM')} ${start.format('HH:mm')} - ${start.format('HH:mm')}`
        }
    },
    data() {
        return {
            weeks: [],
            selected: {},
        }
    },
    methods: {
        addWeek() {
            let newWeek = this.weeks.length
                ? dayjs(this.weeks[this.weeks.length - 1].week[0].schedule[6].end).add(1, 'day')
                : dayjs()
            
            let weeks = []
            let weekDays = []
            for(let w = 0; w <= 6; w++) 
            {
                let schedule = []
                
                for(let workSchedule of this.intervals) {
                    newWeek = newWeek.day(w).hour(workSchedule.from.hour).minute(workSchedule.from.minute).second(0)
                    let currentSchedule = true

                    while(currentSchedule) {
                        let start = newWeek.format('YYYY-MM-DD HH:mm:ss')
                        newWeek = newWeek.add(this.appointmentTime, 'minute')
                        let end = newWeek.format('YYYY-MM-DD HH:mm:ss')

                        schedule.push({ start, end })
                        if(newWeek.hour() === workSchedule.to.hour && newWeek.minute() === workSchedule.to.minute) currentSchedule = false
                    }
                }
                weekDays.push(newWeek.date())
                weeks.push(schedule)
            }

            let schedule = {
                days: [],
                week: []
            }
            for(let s = 0; s < weeks[0].length ; s++)
            {
                let week = []
                for(let w = 0; w <= 6; w++)
                {
                    week.push(weeks[w][s])
                }
                schedule.week.push({
                    label: `${weeks[0][s].start.split(' ')[1].substring(-3, 5)} - ${weeks[0][s].end.split(' ')[1].substring(-3, 5)}`, 
                    schedule: week
                })
            }
            schedule.days = weekDays
            this.weeks.push(schedule)
        },
        setMeeting(meeting) {
            this.selected = meeting
            this.$emit('input', this.selected)
        },
        scrolled(e) {
            if (e.target.offsetHeight + e.target.scrollTop >= e.target.scrollHeight) {
                this.addWeek()
            } 
        },
        isSelected(meeting) {
            return this.selected.start === meeting.start && this.selected.end === meeting.end
        },
        isDisabled(meeting) {
            let start = dayjs(meeting.start)
            return dayjs().isAfter(start) || this.nonWorkingDays.includes(start.day()) || this.appointments.find( appointment => appointment.startTime === meeting.start && appointment.endTime === meeting.end ) !== undefined
        }
    },
    created() {
        this.addWeek()
    },
    watch: {
        value: {
            handler(form) {
                this.selected = {
                    start: form.start,
                    end: form.end
                }
            },
            deep: true
        }
    }
}
</script>

<style>

</style>
