<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>¿Olvidaste tu contraseña?</h3>
            </div>
            <div class="card-body">
                <div v-show="!isResetLinkSent">
                    <p>Ingresa tu dirección de correo electrónico y te enviaremos un enlace para que puedas restaurar tu contraseña.</p>
                    <form @submit.prevent="sendResetLink">
                        <div class="form-group">
                            <input type="email" :class="`form-control ${errors.length ? 'is-invalid' : ''}`" v-model="email" @click="errors = []" required>
                        </div>
                        <div v-show="errors.length" class="mb-1">
                            <p class="text-danger">No se pudo enviar el enlace</p>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Enviar</button>
                    </form>
                </div>
                <div v-show="isResetLinkSent">
                    <p>Hemos enviado un enlace a tu correo para que puedas reestablecer tu contraseña.</p>
                    <button type="button" class="btn btn-link btn-block text-left pl-0" @click="isResetLinkSent = false">Corregir correo electrónico</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            email: '',
            isResetLinkSent: false,
            errors: []
        }
    },
    methods: {
        sendResetLink() {
            axios.post('/forgot-password', { email: this.email })
            .then(() => {
                this.isResetLinkSent = true
            })
            .catch(errors => {
                this.isResetLinkSent = false
                this.errors = errors.response.data.errors
            })
        }
    }
}
</script>

<style lang="css" scoped>
</style>
