<template>
    <div class="container px-sm-5 text-primary">
        <h3 class="mb-4">Inicia sesión</h3>
        <form @submit.prevent="login" :class="`${isInvalid ? 'text-danger' : 'text-primary'}`">
            <div class="form-group">
                <label for="user">Usuario</label>
                <div class="input-icon-control">
                    <font-awesome-icon class="input-icon" icon="user" />
                    <input id="username" name="username" type="text" :class="['form-control', { 'is-invalid': isInvalid }]" v-model="username" @focus="isInvalid = false"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <router-link class="btn btn-link btn-block text-secondary mb-1 text-left pl-0" :to="{ name: 'forgot-password' }">Olvidé mi contraseña</router-link>
                <div class="input-icon-control">
                    <font-awesome-icon class="input-icon" icon="key" />
                    <input id="password" name="password" type="password" :class="['form-control', { 'is-invalid': isInvalid }]" v-model="password" @focus="isInvalid = false"/>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember" name="remember" v-model="remember">
                    <label class="form-check-label" for="remember">
                        Recordarme
                    </label>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Entrar</button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isInvalid: false,
            username: '',
            password: '',
            remember: false,
        }
    },
    methods: {
        login() {
            const form = new FormData()
            form.append('username', this.username);
            form.append('password', this.password);
            form.append('remember', this.remember);
            /* axios.post('/login', { username: this.username, password: this.password, remember: this.remember }) */ 
            axios.post('/login', form, { 
                headers: { 
                    'Content-Type': 'application/x-www-form-urlencoded',
                }
            })
            .then( response => {
                switch (response.status) {
                    case 200:
                        this.isInvalid = false
                        this.$router.push({ name: 'home' })
                        break;
                    default:

                }
            })
            .catch( error => {
                switch (error.response.status) {
                    case 403:
                        this.$router.push({ name: 'verification.notice' })
                        break;
                    default:
                        this.isInvalid = true
                }
            })
        }
    },
}
</script>

<style lang="css" scoped>
</style>
