<template>
    <div class="register-container">
        <div class="container px-sm-5 text-primary">
            <h3 class="mb-4">Regístrate</h3>
            <form @submit.prevent="register">
                <div class="form-group">
                    <label for="identification-card">Cédula</label>
                    <input id="identification-card" name="identification-card" type="text" :class="['form-control', { 'is-invalid': errors.identificationCard }]" v-model="form.identificationCard" @focus="errors.identificationCard = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.identificationCard" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="user">Nombres</label>
                    <input id="name" name="name" type="text" :class="['form-control', { 'is-invalid': errors.name }]" v-model="form.name" @focus="errors.name = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error,index ) of errors.name" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="last-name">Apellidos</label>
                    <input id="last-name" name="last-name" type="text" :class="['form-control', { 'is-invalid': errors.lastName }]" v-model="form.lastName" @focus="errors.lastName = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.lastName" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input id="username" name="username" type="text" :class="['form-control', { 'is-invalid': errors.username }]" v-model="form.username" @focus="errors.username = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.username" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input id="email" name="email" type="email" :class="['form-control', { 'is-invalid': errors.email }]" v-model="form.email" @focus="errors.email = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.email" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <p class="text-secondary">Contraseña de mininimo 8 caracteres</p>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input id="password" name="password" type="password" :class="['form-control', { 'is-invalid': !passwordsAreSame || errors.password }]" v-model="form.password" @focus="errors.password = null" required />
                </div>
                <div class="form-group">
                    <label for="password-confirmation">Confirmar contraseña</label>
                    <input id="password-confirmation" name="password-confirmation" type="password" :class="['form-control', { 'is-invalid': !passwordsAreSame || errors.password }]" v-model="form.passwordConfirmation" @focus="errors.passwordConfirmation = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.password" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input id="phone" name="phone" type="text" :class="['form-control', { 'is-invalid': errors.phone }]" v-model="form.phone" @focus="errors.phone = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.phone" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="birthdate">Fecha de nacimiento</label>
                    <input id="birthdate" name="birthdate" type="date" :class="['form-control', { 'is-invalid': errors.birthdate }]" v-model="form.birthdate" @focus="errors.birthdate = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.birthdate" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="gender">Género</label>
                    <select id="gender" name="gender" :class="['form-control', { 'is-invalid': errors.gender }]" v-model="form.gender" @focus="errors.gender = null" required >
                        <option default value="">Seleccione</option>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.gender" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <p class="text-secondary">Registra tu dirección de domicilio</p>
                <div class="form-group">
                    <label for="main-street">Calle principal</label>
                    <input id="main-street" name="main-street" type="text" :class="['form-control', { 'is-invalid': errors.mainStreet }]" v-model="form.mainStreet" @focus="errors.mainStreet = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.mainStreet" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="secondary-street">Calle secundaria</label>
                    <input id="secondary-street" name="secondary-street" type="text" :class="['form-control', { 'is-invalid': errors.secondaryStreet }]" v-model="form.secondaryStreet" @focus="errors.secondaryStreet = null" required />
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.secondaryStreet" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="province">Provincia</label>
                    <select id="province" name="province" :class="['form-control', { 'is-invalid': errors.province }]" v-model="form.province" @focus="errors.province = null" @change="city = ''" required >
                        <option default value="">Seleccione</option>
                        <option v-for="province in provinces" :key="province" :value="province">{{ province }}</option>
                    </select>
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.province" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="city">Ciudad</label>
                    <select id="city" name="city" :class="['form-control', { 'is-invalid': errors.city }]" v-model="form.city" @focus="errors.city = null" required >
                        <option default value="">Seleccione</option>
                        <option v-for="city in cities" :key="city" :value="city">{{ city }}</option>
                    </select>
                    <ul class="p-0 text-danger list-unstyled">
                        <li v-for="(error, index) of errors.city" :key="index">{{ error }}</li>
                    </ul>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Registrar</button>
            </form>
        </div>
    </div>
</template>

<script>
import Province from '../../models/Province'
import AuthService from '../../services/AuthService'
import { mapActions, mapMutations } from 'vuex'

export default {
    computed: {
        passwordsAreSame() {
            if (!this.form.password.length && !this.form.passwordConfirmation.length) return true
            else return this.form.password === this.form.passwordConfirmation
        },
        provinces() {
            return Province.getProvincesName();
        },
        cities() {
            return this.form.province !== '' ? Province.getCitiesNameFromProvince(this.form.province) : ''
        },
    },
    data() {
        return {
            form: {
                identificationCard      : '',
                name                    : '',
                lastName                : '',
                username                : '',
                email                   : '',
                password                : '',
                passwordConfirmation    : '',
                phone                   : '',
                birthdate               : '',
                gender                  : '',
                mainStreet              : '',
                secondaryStreet         : '',
                province                : '',
                city                    : '',
            },
            errors: {},
        }
    },
    methods: {
        register() {
            AuthService.register(this.form)
            .then(() => {
                this.showDownAlert('Se ha realizado el registro de manera exitosa')
                this.$router.push({ name: 'verification.notice' })
            })
            .catch(errors => {
                switch (errors.response.status) {
                    case 422:
                        this.errors = errors.response.data.errors;
                        break;
                    default:
                        this.errors = {}
                        this.showDownAlert('No se pudo realizar el registro', 'danger')
                }
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setAlertMessage'
        ])
    }
}
</script>

<style lang="css" scoped>
</style>
