<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Cambia tu contraseña</h3>
            </div>
            <div class="card-body">
                <div v-show="!isPasswordChanged">
                    <form @submit.prevent="resetPassword">
                        <div class="form-group">
                            <label for="password">Nueva contraseña</label>
                            <input type="password" id="password" name="password" :class="['form-control', { 'is-invalid': !passwordsAreSame }]" v-model="password" required>
                        </div>
                        <div class="form-group">
                            <label for="password-confirmation">Confirmar contraseña</label>
                            <input type="password" id="password-confirmation" name="password-confirmation" :class="['form-control', { 'is-invalid': !passwordsAreSame }]" v-model="passwordConfirmation" required>
                        </div>
                        <p v-show="!passwordsAreSame" class="text-danger">Las contraseñas no coinciden</p>
                        <p v-show="errors.length" class="text-danger">No se pudo cambiar la contraseña</p>
                        <button type="submit" class="btn btn-block btn-primary">Cambiar</button>
                    </form>
                </div>
                <div v-show="isPasswordChanged">
                    <p>Tu contraseña ha sido cambiada satisfactoriamente, por favor inicia sesión</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        passwordsAreSame() {
            if (!this.password.length && !this.passwordConfirmation.length) return true
            else return this.password === this.passwordConfirmation
        }
    },
    data() {
        return {
            password: '',
            passwordConfirmation: '',
            isPasswordChanged: false,
            errors: []
        }
    },
    methods: {
        resetPassword() {
            axios.post('/reset-password', { email: this.$route.query.email, password: this.password, password_confirmation: this.passwordConfirmation, token: this.$route.params.token })
            .then(() => {
                this.isPasswordChanged = true
            })
            .catch(errors => {
                this.isPasswordChanged = false
                this.errors = errors.response.data.errors
            })
        }
    }
}
</script>

<style lang="css" scoped>
</style>
