<template>
<div>
    <div class="d-block d-sm-flex">
        <div class="detail">
            <h3 class="w-full m-0">{{ prescription.drug }}</h3>
            <span><strong>Doctor: </strong>{{ prescription.doctor.fullName }}</span>
            <span><strong>Paciente: </strong>{{ prescription.patient.fullName }}</span>
        </div>
        <div id="vr"></div>
        <p class="mt-2 mb-0">{{ prescription.medication }}</p>
    </div>
</div>
</template>

<script>
export default {
    props: [ 'prescription' ],
}
</script>

<style scoped>
    #vr {
        border-left: 1px solid #000;
        margin: 0 1rem;
    }
</style>
