<template>
<div class="container mt-2 mt-sm-5 pb-5">
    <form @submit.prevent="update" method="post">
        <div class="row">
            <div class="col-12">
                <appointment-form v-model="form"/>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <input type="submit" class="btn btn-primary ml-auto" :value="`${isProcessing ? 'Reagendando' : 'Reagendar'} cita`" :disabled="isProcessing">
        </div>
    </form>
</div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import AppointmentForm from '../partials/AppointmentForm'
import Appointment from '../../../models/Appointment'

export default {
    components: {
        AppointmentForm 
    },
    computed: {
        fields: {
            get() {
                return { 
                    startTime: this.form.fields.date.start,
                    endTime: this.form.fields.date.end,
                    doctor: this.form.fields.doctor ,
                    patient: this.form.fields.patient,
                    speciality: this.form.fields.speciality,
                }
            },
            set(appointment) {
                this.mapFields(appointment)
            }
        }
    },
    data() {
        return {
            form: {
                fields: {},
                errors: {},
            },
            isProcessing: false
        }
    },
    methods: {
        update(){
            this.isProcessing = true
            Appointment.make({ id: this.$route.params.appointment, ...this.fields })
            .reschedule({ patient: this.fields.patient, speciality: this.fields.speciality, doctor: this.fields.doctor })
            .then( response => {
                this.showDownAlert('Se ha reagendado la cita')
                this.$router.go(-1)
            })
            .catch( errors => {
                console.error(errors)
                switch (errors.status) {
                    case 422:
                        if(errors.data.errors.startTime || errors.data.errors.endTime)
                            this.showDownAlert('Debe seleccionar un horario', 'danger')
                        break
                    default:
                        this.showDownAlert('No se pudo reagendar la cita', 'danger')
                }
            })
            .finally(() => this.isProcessing = false)
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        getAppointment() {
            Appointment.findById(this.$route.params.appointment)
            .then( response => {
                this.fields = response.data.data
            })
            .catch( errors => {
                console.error(errors)
                this.showDownAlert('No se pudo obtener la información de esta cita', 'error')
            })
        },
        mapFields(appointment) {
            this.form = { fields: { 
                ...appointment.params,
                date: {
                    start: appointment.startTime,
                    end: appointment.endTime
                },
                patient: appointment.patient.id, 
                speciality: appointment.speciality.id,
                doctor: appointment.doctor.id
            }, errors: {}}
        },
        ...mapActions([
            'hideSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setAlertMessage'
        ])
    },
    created() {
        this.setTitle('Nueva cita')
        this.hideSearchBar()
        this.getAppointment()
    }
}
</script>

<style lang="css" scoped>
</style>
