.appointments-list {
    height: 90vh;

    .time-label {
        display: flex;
        align-items: center;
        margin-right: .7rem;
        border-right: 1px solid;
        padding-right: .7rem;

        h4 {
            margin: 0;
        }
    }
}
