.list-content{
    height: 90vh;
}

.detail {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-width: 15rem;
}

.description {
    display: flex;
    align-items: center;
}

.tile-list {
        list-style: none;

        .tile-list-item {
            padding: 1rem;
        }

        .tile-list-item-outline-dark {
            border: solid 1px $dark;
            border-radius: 0.5rem;
        }

        .tile-list-item-primary {
            background-color: $primary;
            border-radius: 0.5rem;
            color: white;
        }

        .tile-list-item-secondary {
            background-color: $secondary;
            border-radius: 0.5rem;
            color: white;
        }

        .tile-list-item-danger {
            background-color: $danger;
            border-radius: 0.5rem;
            color: white;
        }
    }
