.appointment-selector {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.schedule-header {
    margin-top: 15px;
    margin-bottom: 15px;
}
.selected-schedule-label {
    font-style: italic;
}
.schedule {
    background-color: white;
    border: 1px solid #0071c0;
    border-radius: 15px;
}
.header-label {
    background-color: white;
    font-size: 15px;
    text-align: center;
}
.relation-label {
    color: #0071c0;
}
.week-day-label {
    font-weight: normal;
}
.cell {
    border: 1px solid #797979;
}
.cell-time {
    background-color: #d9d9db;
}
.cell-available {
    transition: background-color .3s ease;
}
.cell-available:hover {
    background-color: #0071c0;
}
.cell-disabled {
    background-color: #9b9b9b;
}
.cell-selected {
    background-color: #40b0ff;
}
