.bg-welcome {
    width: 100vw;
    height: 100vh;
    background: $primary;
    background: linear-gradient(90deg, $primary 0%, $light 100%);
    display: flex;

    img {
        height: 100vh;
        margin-left: auto;
        margin-right: 1.7rem;
    }

    .banner {
        display: flex;
        align-items: center;
        width: 20rem;
        margin-left: 3.7rem;
        transition: .3s ease;
    }
}

aside {
    position: absolute;
    display: flex;
    align-items: center;

    .login-form {
        width: 25rem;
        height: 100vh;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 0 15px -5px $dark;
        transition: 0.3s ease;
        z-index: 1;
        display: flex;
        align-items: center;

        .container {
            min-width: 25rem;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }

        .input-icon-control {
            position: relative;
            .input-icon {
                position: absolute;
                top: .7em;
                left: .7em;
            }
            .form-control {
                padding-left: 2.4em !important;
            }
        }

        .register-container {
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            height: 100vh;
        }
    }

    .btn-group-auth {
        height: min-content;

        .btn-auth-active {
            background-color: $primary !important;
            color: $white;
        }

        .btn-auth-link {
            display: block;
            width: 10em;
            font-size: 20px;
            text-align: right;
            transform: translateX(-8em);
            transition: .3s ease;
            border: none;
            height: 2.3em;
            background-color: white;
            border-top-right-radius: .3em;
            border-bottom-right-radius: .3em;
            padding: 0.4em;

            &:hover {
                transform: translateX(0);
            }

            svg {
                margin-left: .7em;
            }
        }
    }
}

.info {
    .login-form {
        width: 10px;
    }

    .banner {
        margin-left: 8rem;
    }
}

@media only screen and (max-width: 576px){
    .bg-welcome {
        display: none;
    } 
    
    aside {
        width: 100%;
        display: block;

        .login-form {
            width: 25rem;
            z-index: 0;
            width: 100%;
            overflow: auto;
            height: auto;
            box-shadow: none;

            .container {
                min-width: auto;
            }

            .register-container {
                overflow: auto;
                height: auto;
            }
        }

        .btn-group-auth {

            .btn-auth-link {
                transform: translateX(0);
                margin: 1rem auto;
                border-radius: .3em;
            }
        }
    }
}
