<template>
<div class="container mt-2 mt-sm-5 pb-5">
    <form @submit.prevent="save" method="post">
        <div class="row">
            <div class="col-12">
                <patient-form v-model="form" />
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <input type="submit" class="btn btn-primary ml-auto" value="Guardar paciente">
        </div>
    </form>
</div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import PatientForm from '../partials/PatientForm'
import Patient from '../../../models/Patient'

export default {
    components: {
        PatientForm
    },
    computed: {
        fields() {
            return {
                ...this.form.fields, 
                address: {
                    mainStreet: this.form.fields.mainStreet,
                    secondaryStreet: this.form.fields.secondaryStreet,
                    province: this.form.fields.province,
                    city: this.form.fields.city
                }
            }
        }
    },
    data() {
        return {
            form: {
                fields: {},
                errors: {}
            }
        }
    },
    methods: {
        save(){
            Patient.make(this.fields).save()
            .then( response => {
                this.showDownAlert('Se ha creado el paciente')
                this.$router.push({ name: 'patients.index' })
            })
            .catch( errors => {
                switch (errors.status) {
                    case 422:
                        this.form.errors = errors.data.errors
                        break;
                    default:
                        this.showDownAlert('No se pudo crear el paciente', 'danger')
                }
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'hideSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setAlertMessage'
        ])
    },
    created() {
        this.setTitle('Nuevo paciente')
        this.hideSearchBar()
    }
}
</script>

<style lang="css" scoped>
</style>
