<template>
    <div>
        <b-modal
            :id="id"
            ok-title="Guardar"
            cancel-title="Cancelar"
            :title="title"
            @ok="handleOk"
            @hidden="clearForm"
            ref="prescriptions"
        >
            <form @submit.stop.prevent="submit" ref="form">
                <div class="form-group">
                    <label for="name">Examen</label>
                    <input id="name" name="name" class="form-control" type="text" v-model="form.name" placeholder="Nombre del examen a solicitar" required @keydown="emitForm"/>
                </div>
                <div class="form-group">
                    <label for="description">Nota</label>
                    <textarea class="form-control" name="description" id="description" v-model="form.description" @keydown="emitForm" placeholder="Nota que leerá la persona que realice el examen"></textarea>
                </div>
            </form>
        </b-modal>
    </div>    
</template>

<script>
export default {
    props: { 
        id: String,
        title: String,
        value: {
            type: Object,
            default: () => {
                return {
                    name: '',
                    description: ''
                }
            }
        }
    },
    data() {
        return {
            form: {
                name: '',
                description: ''
            }
        }
    },
    methods: {
        emitForm() {
            this.$emit('input', this.form)
        },
        handleOk(event) {
            event.preventDefault()
            const valid = this.$refs.form.checkValidity()
            if(valid) {
               this.submit() 
            }
        },
        clearForm() {
            this.form.name = ''
            this.form.description = ''
            this.$emit('hidden', this.form)
        },
        submit() {
            this.$emit('submit', this.form)

            this.$nextTick(() => {
                this.$bvModal.hide(this.id)
            })
        }        
    },
    watch: {
        value: {
            handler(val) {
                this.form.name = val.name,
                this.form.description = val.description
            },
            deep: true
        }
    }
}
</script>

<style>

</style>
