<template>
    <div class="tiles-container w-75 mx-auto">
        <router-link class="tile" v-for="link in availableLinks" :key="link.route" :to="{ name: link.route }">
            <div class="tile-title">
                <div>
                    <font-awesome-icon class="tile-icon" :icon="link.icon" />
                    <span class="d-block" style="line-height: 1.2rem;">{{ link.title }}</span>
                </div>
            </div>
            <div class="tile-body">
                <p>{{ link.description }}</p>
            </div>
        </router-link>
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
    computed: {
        availableLinks(){
            if(!this.user.role) return []
            return this.user ? this.links.filter(link => link.roles.includes(this.user.role.name)) : []
        },
        ...mapState([
            'user'
        ])
    },
    data() {
        return {
            links: [
                {
                    title: 'Personal',
                    description: 'Administración del personal médico',
                    route: 'users.index',
                    icon: 'user-md',
                    roles: ['admin', 'super']
                },
                {
                    title: 'Especialidades',
                    description: 'Administración de especialidades',
                    route: 'specialities.index',
                    icon: 'stethoscope',
                    roles: ['admin', 'super']
                },
                {
                    title: 'Pacientes',
                    description: 'Administración de pacientes',
                    route: 'patients.index',
                    icon: 'user-injured',
                    roles: ['admin', 'super', 'client']
                },
                {
                    title: 'Agenda',
                    description: 'Crear, mover o cancelar citas médicas',
                    route: 'appointments.index',
                    icon: 'calendar-plus',
                    roles: ['admin', 'super', 'client', 'doctor']
                },
                {
                    title: 'Exámenes',
                    description: 'Subir archivos de exámenes solicitados',
                    route: 'exams.index',
                    icon: 'notes-medical',
                    roles: ['super', 'doctor']
                },
                {
                    title: 'Historial médico',
                    description: 'Visualizar el historial médico del paciente y los dependientes',
                    route: 'reports.history.index',
                    icon: 'file-medical',
                    roles: ['super', 'doctor', 'client']
                },
                {
                    title: 'Historial de exámenes',
                    description: 'Visualizar el historial de exámens por pacente',
                    route: 'reports.exams.index',
                    icon: 'file-medical-alt',
                    roles: ['super', 'doctor', 'client']
                },
                {
                    title: 'Historial de recetas',
                    description: 'Visualizar el historial de recetas por paciente',
                    route: 'reports.prescriptions.index',
                    icon: 'syringe',
                    roles: ['super', 'doctor', 'client']
                },
            ]
        }
    },
    methods: {
        ...mapActions([
            'hideSearchBar'
        ]),
        ...mapMutations([
            'setTitle',
            'setSearchKeyword'
        ])
    },
    created() {
        this.setTitle('Inicio')
        this.hideSearchBar()
        this.setSearchKeyword('')
    }
}
</script>

<style lang="css" scoped>
</style>
