<template>
    <div>
        <b-modal
            :id="id"
            title="Archivos"
            :ok-title="showOnly ? 'Aceptar' : 'Subir'"
            cancel-title="Cancelar"
            @ok="okHandler"
            @hidden="file = null"
        >
            <ul class="list-group">
                <li class="list-group-item list-group-item-action d-flex" v-for="file of files" :key="file.id">
                    <a :href="`/storage/${file.url}`" target="_blank" class="d-flex text-dark" style="align-items: center;">
                        <font-awesome-icon class="mr-2" icon="file"/>{{ file.name }}
                    </a>
                    <button v-if="!showOnly" class="btn btn-link text-danger ml-auto" @click="deleteFile(file)">
                        <font-awesome-icon icon="trash"/>
                    </button>
                </li> 
            </ul>
            <b-form-file
                    class="mt-3"
                    v-model="file"
                    :state="Boolean(file)"
                    placeholder="Seleccione un archivo"
                    drop-placeholder="Suelte un archivo aquí"
                    v-if="!showOnly"
                >
            </b-form-file>
        </b-modal>
        <b-modal id="confirm-delete-file" title="Confirmar eliminación" @ok="$emit('destroy', selectedFile)" cancel-title="Cancelar" ok-title="Aceptar">
            <p>¿Estas seguro de eliminar este archivo?</p>
        </b-modal>
    </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import Exam from '../../../models/Exam'
export default {
    props: {
        id: String,
        files: {
            type: Array,
            default: []
        },
        showOnly: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            file: null,
            selectedFile: null
        }
    },
    methods: {
        okHandler(event) {
            event.preventDefault()

            if(Boolean(this.file)) {
                this.uploadFile()
            }
        },
        uploadFile() {
            this.$emit('upload', this.file)            
            this.file = null
        },
        deleteFile(file) {
            this.selectedFile = file
            this.$bvModal.show('confirm-delete-file')
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setAlertMessage',
        ])
    }
}
</script>

<style>

</style>
