<template>
<div class="container mt-2 mt-sm-5 pb-5">
    <form @submit.prevent="save" method="post">
        <div class="row">
            <div class="col-12 col-sm-8">
                <user-form v-model="form" :password-is-required="true"/>
            </div>
            <div class="col-12 col-sm-4">
                <user-specialities v-model="specialities" :disabled="this.form.fields.role !== 'doctor'"/>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <input type="submit" class="btn btn-primary ml-auto" :value="`${isProcessing ? 'Guardando' : 'Guardar'} usuario`" :disabled="isProcessing"/>
        </div>
    </form>
    <b-modal id="confirm-restore" title="Confirmar reactivación" @ok="restore" cancel-title="Cancelar" ok-title="Aceptar">
        <p>Existe un usuario con esté número de cédula, pero se encuentra inactivo, ¿Desea reactivarlo?</p>
    </b-modal>
</div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import UserForm from '../partials/UserForm'
import UserSpecialities from '../partials/UserSpecialities'
import User from '../../../models/User'

export default {
    components: {
        UserForm, UserSpecialities
    },
    computed: {
        fields() {
            return {
                ...this.form.fields,
                role: { name: this.form.fields.role },
                specialities: this.specialities.map( id => { return { id } }),
                address: {
                    mainStreet: this.form.fields.mainStreet,
                    secondaryStreet: this.form.fields.secondaryStreet,
                    province: this.form.fields.province,
                    city: this.form.fields.city
                }
            }
        }
    },
    data() {
        return {
            form: {
                fields: {},
                errors: {}
            },
            specialities: [],
            isProcessing: false,
        }
    },
    methods: {
        save(){
            this.isProcessing = true
            User.make(this.fields).save({ passwordConfirmation: this.form.fields.passwordConfirmation })
            .then( response => {
                this.showDownAlert('Se ha creado el usuario')
                this.$router.push({ name: 'users.index' })
            })
            .catch( errors => {
                switch (errors.status) {
                    case 422:
                        if (errors.data.errors.identificationCard) {
                            if (errors.data.errors.identificationCard.includes('User is soft deleted')) {
                                this.$bvModal.show('confirm-restore')
                                break;
                            }
                        }
                        this.form.errors = errors.data.errors
                        break;
                    default:
                        this.showDownAlert('No se pudo crear el usuario', 'danger')
                }
            })
            .finally(() => this.isProcessing = false)
        },
        restore() {
            User.make(this.fields).restore({ fieldName: 'identificationCard' })
            .then( response => {
                this.showDownAlert('Se ha restaurado el usuario')
                this.$router.push({ name: 'users.index' })
            })
            .catch( errors => {
                console.error(errors)
                this.showDownAlert('No se pude restaurar el usuario', 'danger')
            })
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'hideSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setAlertMessage'
        ])
    },
    created() {
        this.setTitle('Agregar')
        this.hideSearchBar()
    }
}
</script>

<style lang="css" scoped>
</style>
