<template>
    <div class="d-flex align-items-center">
        <div class="description d-block w-75">
            <h4 class="font-weight-normal m-0 d-block">{{ exam.name }}</h4>
            <span class="d-block"><strong>Doctor:</strong> {{ exam.appointment.doctor.fullName }}</span>
            <span class="d-block"><strong>Paciente:</strong> {{ exam.appointment.patient.fullName }}</span>
        </div>
        <div v-if="exam.status === 'READY'" class="ml-auto">
            <button class="btn btn-link text-success" @click="$emit('files', exam.files)">Ver Archivos</button>
        </div>
    </div>
</template>

<script>
export default {
    props: [
        'exam'
    ]
}
</script>

<style>

</style>
