<template>
<div>
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="name">Nombres</label>
                <input id="name" name="name" type="text" :class="['form-control', { 'is-invalid': errors.name }]" v-model="form.name" @keyup="emitForm" @focus="errors.name = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.name">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="identification-card">Cédula</label>
                <input id="identification-card" name="identification-card" type="text" :class="['form-control', { 'is-invalid': errors.identificationCard }]" v-model="form.identificationCard" @keyup="emitForm" @focus="errors.identificationCard = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.identificationCard">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input id="password" name="password" type="password" :class="['form-control', { 'is-invalid': !passwordsAreSame || errors.password }]" v-model="form.password" @keyup="emitForm" @focus="errors.password = null" :required="passwordIsRequired" />
            </div>
            <div class="form-group">
                <label for="password-confirmation">Confirmar contraseña</label>
                <input id="password-confirmation" name="password-confirmation" type="password" :class="['form-control', { 'is-invalid': !passwordsAreSame || errors.password }]" v-model="form.passwordConfirmation" @keyup="emitForm" @focus="errors.passwordConfirmation = null" :required="passwordIsRequired" />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.password">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="last-name">Teléfono</label>
                <input id="last-name" name="last-name" type="text" :class="['form-control', { 'is-invalid': errors.phone }]" v-model="form.phone" @keyup="emitForm" @focus="errors.phone = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.phone">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="gender">Género</label>
                <select id="gender" name="gender" :class="['form-control', { 'is-invalid': errors.gender }]" v-model="form.gender" @change="emitForm" @focus="errors.gender = null" required >
                    <option default value="">Seleccione</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                </select>
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.gender">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="last-name">Apellidos</label>
                <input id="last-name" name="last-name" type="text" :class="['form-control', { 'is-invalid': errors.lastName }]" v-model="form.lastName" @keyup="emitForm" @focus="errors.lastName = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.lastName">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input id="username" name="username" type="text" :class="['form-control', { 'is-invalid': errors.username }]" v-model="form.username" @keyup="emitForm" @focus="errors.username = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.username">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input id="email" name="email" type="email" :class="['form-control', { 'is-invalid': errors.email }]" v-model="form.email" @keyup="emitForm" @focus="errors.email = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.email">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="role">Rol</label>
                <select id="role" name="role" :class="['form-control', { 'is-invalid': errors.role }]" v-model="form.role" @change="emitForm" @focus="errors.role = null" required >
                    <option default value="">Seleccione</option>
                    <option value="super">Super Administrador</option>
                    <option value="admin">Administrador</option>
                    <option value="doctor">Doctor</option>
                </select>
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.role">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de nacimiento</label>
                <input id="birthdate" name="birthdate" type="date" :class="['form-control', { 'is-invalid': errors.birthdate }]" v-model="form.birthdate" @change="emitForm" @focus="errors.birthdate = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.birthdate">{{ error }}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <address-form v-model="address" :errors="errors" @change="emitForm"/>
</div>
</template>

<script>
import AddressForm from '../../partials/AddressForm.vue'

export default {
  components: { AddressForm },
    props: {
        value: undefined,
        passwordIsRequired: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        passwordsAreSame() {
            if (!this.form.password.length && !this.form.passwordConfirmation.length) return true
            else return this.form.password === this.form.passwordConfirmation
        },
    },
    data() {
        return {
            form: {
                name:                   '',
                lastName:               '',
                identificationCard:     '',
                password:               '',
                phone:                  '',
                passwordConfirmation:   '',
                email:                  '',
                username:               '',
                birthdate:              '',
                gender:                 '',
                role:                   ''
            },
            address: {
                mainStreet          : '',
                secondaryStreet     : '',
                province            : '',
                city                : '', 
            },
            errors: {}
        }
    },
    methods: {
        emitForm() {
            this.$emit('input', { fields: { ...this.form, ...this.address }, errors: this.errors })
        },
        fillForm(form) {
            this.form.name                  = form.name ?? ''
            this.form.lastName              = form.lastName ?? ''
            this.form.identificationCard    = form.identificationCard ?? ''
            this.form.phone                 = form.phone ?? ''
            this.form.password              = form.password ?? ''
            this.form.passwordConfirmation  = form.passwordConfirmation ?? ''
            this.form.email                 = form.email ?? ''
            this.form.birthdate             = form.birthdate ?? ''
            this.form.gender                = form.gender ?? ''
            this.form.username              = form.username ?? ''
            this.form.role                  = form.role ?? ''
            this.address.mainStreet         = form.mainStreet ?? ''
            this.address.secondaryStreet    = form.secondaryStreet ?? ''
            this.address.province           = form.province ?? ''
            this.address.city               = form.city ?? ''
        }
    },
    watch: {
        value: {
            handler(form) {
                this.fillForm(form.fields)
                this.errors = form.errors
            },
            deep: true
        }
    }
}
</script>

<style lang="css" scoped>
</style>
