<template>
<div>
    <router-link class="btn btn-primary mt-4 mx-auto d-block" :to="{ name: 'appointments.create' }">
        Nueva cita
        <font-awesome-icon icon="calendar-plus" />
    </router-link>
</div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>
