<template>
    <div class="d-flex flex-column flex-sm-row">
        <div class="d-flex">
            <div class="time-label">
            <h4>{{ time }}</h4>
            </div>
            <div class="description d-block">
                <router-link v-if="user.doesntHaveRole('admin') && !isCancelled" class="text-white" :to="{ name: 'appointments.show', params: { appointment: id } }">
                    <h4 class="font-weight-normal m-0 d-block">{{ patient }}</h4>
                    <span class="d-block">{{ doctor }}</span>
                </router-link>
                <div v-else class="text-white">
                    <h4 class="font-weight-normal m-0 d-block">{{ patient }}</h4>
                    <span class="d-block">{{ doctor }}</span>
                </div>
            </div>
        </div>
        <div class="btn-group mx-auto mr-sm-0 ml-sm-auto">
            <button v-if="!isCancelled && !isClosed" type="button" class="btn btn-link text-white" @click="$emit('edit', { id })">
                Reagendar
                <font-awesome-icon icon="calendar-alt" />
            </button>
            <button v-if="canCancell" type="button" class="btn btn-link text-white" @click="$emit('destroy', { id })">
                Cancelar
                <font-awesome-icon icon="calendar-times" />
            </button>
        </div>
    </div>
</template>

<script>
import * as dayjs from 'dayjs'
import { mapState } from 'vuex'

export default {
    props: [
        'id',
        'patient',
        'doctor',
        'startTime',
        'endTime',
        'isCancelled',
        'isClosed',
    ],
    computed: {
        time() {
            return `${dayjs(this.startTime).format("HH:mm")} - ${dayjs(this.endTime).format("HH:mm")}`
        },
        canCancell() {
            let startTime = new Date(this.startTime)
            let currentTime = new Date()

            
            return startTime.getTime() > currentTime.getTime() && !this.isCancelled
        },
        ...mapState([
            'user'
        ])
    }
}
</script>

<style lang="css" scoped>
</style>
