<template>
    <div>
        <header-component></header-component>
        <main>
            <content-component></content-component>
        </main>
    </div>
</template>

<script>
import Header from '../header/Header'
import Content from './Content'

export default {
    components: { 'header-component': Header, 'content-component': Content }
}
</script>

<style lang="css" scoped>
</style>
