<template>
<div>
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label for="user">Nombres</label>
                <input id="name" name="name" type="text" :class="['form-control', { 'is-invalid': errors.name }]" v-model="form.name" @keyup="emitForm" @focus="errors.name = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.name">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="identification-card">Cédula</label>
                <input id="identification-card" name="identification-card" type="text" :class="['form-control', { 'is-invalid': errors.identificationCard }]" v-model="form.identificationCard" @keyup="emitForm" @focus="errors.identificationCard = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.identificationCard">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="gender">Género</label>
                <select id="gender" name="gender" :class="['form-control', { 'is-invalid': errors.gender }]" v-model="form.gender" @change="emitForm" @focus="errors.gender = null" required >
                    <option default value="">Seleccione</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                </select>
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.gender">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label for="last-name">Apellidos</label>
                <input id="last-name" name="last-name" type="text" :class="['form-control', { 'is-invalid': errors.lastName }]" v-model="form.lastName" @keyup="emitForm" @focus="errors.lastName = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.lastName">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input id="email" name="email" type="email" :class="['form-control', { 'is-invalid': errors.email }]" v-model="form.email" @keyup="emitForm" @focus="errors.email = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.email">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group" v-if="user.hasRole('client') && value.fields.relationship !== 'HEADLINE'">
                <label for="relationship">Relación</label>
                <select id="relationship" name="relationship" :class="['form-control', { 'is-invalid': errors.relationship }]" v-model="form.relationship" @change="emitForm" @focus="errors.relationship = null" required >
                    <option default value="">Seleccione</option>
                    <option value="SPOUSE">Conyuge</option>
                    <option value="SON">Hijo</option>
                    <option value="DAUGHTER">Hija</option>
                    <option value="OTHERS">Otros</option>
                </select>
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.relationship">{{ error }}</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="form-group">
                <label for="last-name">Teléfono</label>
                <input id="last-name" name="last-name" type="text" :class="['form-control', { 'is-invalid': errors.phone }]" v-model="form.phone" @keyup="emitForm" @focus="errors.phone = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.phone">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="birthdate">Fecha de nacimiento</label>
                <input id="birthdate" name="birthdate" type="date" :class="['form-control', { 'is-invalid': errors.birthdate }]" v-model="form.birthdate" @change="emitForm" @focus="errors.birthdate = null" required />
                <ul class="p-0 text-danger list-unstyled">
                    <li v-for="error of errors.birthdate">{{ error }}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12 col-sm-8 m-0 p-0">
        <address-form v-model="address" :errors="errors" @change="emitForm"/>
    </div>
</div>
</template>

<script>
import { mapState } from 'vuex'
import AddressForm from '../../partials/AddressForm.vue'

export default {
  components: { AddressForm },
    props: [ 'value' ],
    computed: mapState([
        'user'
    ]),
    data() {
        return {
            form: {
                identificationCard      : '',
                name                    : '',
                lastName                : '',
                email                   : '',
                phone                   : '',
                birthdate               : '',
                gender                  : '',
                relationship            : ''
            },
            address: {
                mainStreet          : '',
                secondaryStreet     : '',
                province            : '',
                city                : '',
            },
            errors: {}
        }
    },
    methods: {
        emitForm() {
            this.$emit('input', { fields: { ...this.form, ...this.address }, errors: this.errors })
        },
        fillForm(form) {
            this.form.name                  = form.name ?? ''
            this.form.lastName              = form.lastName ?? ''
            this.form.identificationCard    = form.identificationCard ?? ''
            this.form.email                 = form.email ?? ''
            this.form.phone                 = form.phone ?? ''
            this.form.birthdate             = form.birthdate ?? ''
            this.form.gender                = form.gender ?? ''
            this.address.mainStreet         = form.mainStreet ?? ''
            this.address.secondaryStreet    = form.secondaryStreet ?? ''
            this.address.province           = form.province ?? ''
            this.address.city               = form.city ?? ''
            this.form.relationship          = form.relationship ?? ''
        }
    },
    watch: {
        value: {
            handler(form) {
                this.fillForm(form.fields)
                this.errors = form.errors
            },
            deep: true
        }
    }
}
</script>

<style lang="css" scoped>
</style>
