<template>
<div class="container mt-2 mt-sm-5 pb-5">
    <form @submit.prevent="create" method="post">
        <div class="row">
            <div class="col-12">
                <appointment-form v-model="form"/>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <input type="submit" class="btn btn-primary ml-auto" :value="`${isProcessing ? 'Guardando' : 'Guardar'} cita`" :disabled="isProcessing">
        </div>
    </form>
</div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import AppointmentForm from '../partials/AppointmentForm'
import Appointment from '../../../models/Appointment'

export default {
    components: {
        AppointmentForm 
    },
    computed: {
        fields: {
            get() {
                if(Object.keys(this.form.fields).length === 0) return {}
                else return { 
                    startTime: this.form.fields.date.start,
                    endTime: this.form.fields.date.end,
                    doctor: this.form.fields.doctor,
                    patient: this.form.fields.patient,
                    speciality: this.form.fields.speciality,
                    description: this.form.fields.description
                }
            },
            set(appointment) {
                this.mapFields(appointment)
            }
        },
    },
    data() {
        return {
            form: {
                fields: {},
                errors: {},
            },
            isProcessing: false
        }
    },
    methods: {
        create(){
            this.isProcessing = true
            let params = { patient: this.fields.patient, speciality: this.fields.speciality, doctor: this.fields.doctor } 
            let previous = this.$route.query.previous
            if(previous) params['previous'] = +previous 
            
            Appointment.make(this.fields).save(params)
            .then( response => {
                this.showDownAlert('Se ha agendado la cita')
                this.$router.go(-1)
            })
            .catch( errors => {
                console.error(errors)
                switch (errors.status) {
                    case 422:
                        if(errors.data.errors.startTime || errors.data.errors.endTime)
                            this.showDownAlert('Debe seleccionar un horario', 'danger')
                        break
                    default:
                        this.showDownAlert('No se pudo agendar la cita', 'danger')
                }
            })
            .finally(() => this.isProcessing = false)
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        mapFields(appointment) {
            this.form = { fields: appointment.params, errors: {}}
        },
        fillOptionsFromRoute() {
            let patient = this.$route.query.patient
            if(patient) this.form.fields.patient = +patient 

            let doctor = this.$route.query.doctor
            if(doctor) this.form.fields.doctor = +doctor

            let speciality = this.$route.query.speciality
            if(speciality) this.form.fields.speciality = +speciality
        },
        ...mapActions([
            'hideSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setAlertMessage'
        ])
    },
    created() {
        this.setTitle('Nueva cita')
        this.hideSearchBar()
        this.fillOptionsFromRoute()
    }
}
</script>

<style lang="css" scoped>
</style>
