<template>
    <div>
        <div class="form-group">
            <label :class="{ 'editable': user.hasRole('doctor') && !readonly }" for="description" @click="enterToEditMode">Diagnóstico</label>
            <textarea v-if="isEditMode && !readonly" id="description" class="form-control" rows="5" v-model="newDescription" @keypress.enter="exitFromEditMode" @blur="exitFromEditMode"></textarea>
            <p :class="{ 'editable': user.hasRole('doctor') && !readonly }" v-else @click="enterToEditMode">{{ newDescription }}</p>
        </div> 
    </div>
</template>

<script>
import { mapState } from 'vuex'
import Appointment from '../../../models/Appointment'
export default {
    props: {
        description: String,
        readonly: {
            type: Boolean,
            default: false
        }
    },
    computed: mapState([
        'user'
    ]),
    data() {
        return {
            newDescription: '',
            oldDescription: '',
            isEditMode: false
        }
    },
    methods: {
        enterToEditMode() {
            if(this.user.hasRole('doctor') && !this.readonly) {
                this.newDescription = this.description
                this.oldDescription = this.newDescription
                this.isEditMode = true
            }
        },
        exitFromEditMode() {
            if(this.newDescription === '') return
            this.isEditMode = false
            if(this.oldDescription !== this.newDescription) {
                Appointment.make({ id: this.$route.params.appointment, description: this.newDescription }).updateDescription()
                .then( response => {
                    this.$emit('updated')
                })
            }
        }
    },
    created() {
        this.newDescription = this.description
    },
    watch: {
        description(description) {
            this.newDescription = description
        }
    }
}
</script>

<style scoped>
    .editable {
        cursor: pointer;
    }
</style>
