<template>
<div class="container mt-2 mt-sm-5 pb-5">
    <form @submit.prevent="update" method="post">
        <div class="row">
            <div class="col-12 col-sm-8">
                <user-form v-model="form"/>
            </div>
            <div class="col-12 col-sm-4">
                <user-specialities v-model="specialities" :disabled="this.form.fields.role !== 'doctor'"/>
            </div>
        </div>
        <hr>
        <div class="d-flex">
            <input type="submit" class="btn btn-primary ml-auto" :value="`${ isProcessing ? 'Actualizando' : 'Actualizar' } usuario`" :disabled="isProcessing" />
        </div>
    </form>
</div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import UserForm from '../partials/UserForm'
import UserSpecialities from '../partials/UserSpecialities'
import User from '../../../models/User'

export default {
    components: {
        UserForm, UserSpecialities
    },
    computed: {
        fields: {
            get() {
                return {
                    ...this.form.fields,
                    role: { name: this.form.fields.role },
                    specialities: this.specialities.map( id => { return { id } }),
                    address: {
                        mainStreet: this.form.fields.mainStreet,
                        secondaryStreet: this.form.fields.secondaryStreet,
                        province: this.form.fields.province,
                        city: this.form.fields.city
                    }                    
                }
            },
            set(user) {
                this.mapFields(user)
            }
        }
    },
    data() {
        return {
            form: {
                fields: {},
                errors: {}
            },
            specialities: [],
            isProcessing: false,
        }
    },
    methods: {
        update(){
            this.isProcessing = true
            User.make({ id: this.$route.params.user, ...this.fields })
            .update({ passwordConfirmation: this.form.fields.passwordConfirmation })
            .then( response => {
                this.showDownAlert('Se ha actualizado el usuario')
                this.$router.go(-1)
            })
            .catch( errors => {
                console.error(errors)
                switch (errors.status) {
                    case 422:
                        switch (errors.data.message) {
                            case 'empty specialities':
                                this.showDownAlert('Debe seleccionar al menos una especialidad', 'danger')
                                break;
                            default:
                                this.form.errors = errors.data.errors
                        }
                        break;
                    default:
                        this.showDownAlert('No se pudo crear el usuario', 'danger')
                }
            })
            .finally(() => this.isProcessing = false)
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        getUser() {
            User.findById(this.$route.params.user)
            .then( response => {
                this.fields = response.data.data
            })
            .catch( errors => {
                console.error(error)
                this.showDownAlert('No se pudo obtener la información de este usuario', 'error')
            })
        },
        mapFields(user) {
            this.specialities = user.params.specialities.map(speciality => speciality.id)
            this.form = { fields: { ...user.address.params, ...user.params, role: user.role.name }, errors: {}}
        },
        ...mapActions([
            'hideSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setAlertMessage'
        ])
    },
    created() {
        this.setTitle('Editar')
        this.hideSearchBar()
        this.getUser()
    }
}
</script>

<style lang="css" scoped>
</style>
