<template>
<div class="container">
    <div class="text-center my-5">
        <h4>Verificación de correo electrónico</h4>
        <p>Hemos enviado un mensaje a tu correo electrónico con un enlace para que puedas verificar tu correo.</p>
        <button type="button" name="resendEmail" class="btn btn-link" @click="resendEmail">Reenviar enlace</button>
    </div>
</div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'
export default {
    methods: {
        resendEmail() {
            axios.post('/email/verification-notification')
            .then(() => this.showDownAlert('Se ha enviado un nuevo enlace, revisa tu correo'))
            .catch(() => this.showDownAlert('No se pudo reenciar el enlace, intentalo nuevamente mas tarde', 'danger'))
        },
        showDownAlert(message, variant = 'success') {
            this.setAlertMessage(message)
            switch (variant) {
                case 'danger':
                    this.showDangerAlert()
                    break;
                default:
                    this.showSuccesAlert()
            }
        },
        ...mapActions([
            'hideSearchBar',
            'showSuccesAlert',
            'showDangerAlert'
        ]),
        ...mapMutations([
            'setTitle',
            'setAlertMessage'
        ])
    },
    created() {
        this.setTitle('No autorizado')
        this.hideSearchBar()
    }
}
</script>

<style lang="css" scoped>
</style>
